h1 {
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h2{
   text-align: center;
   text-decoration: underline;
}

p {
    color: #666;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.entry {
    margin-bottom: 20px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="text"]:last-child,
input[type="email"]:last-child,
input[type="tel"]:last-child,
input[type="url"]:last-child {
    margin-bottom: 20px;
}

#company-description {
    width: 100%;
}

#submit-button {
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    cursor: pointer;
    left: 60%;
    transform: translateX(-60%);
    
  }
  
#submit-button:hover {
    background-color: #0055aa;  
}